<div class="row">

    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of results; let i = index" data-aos="fade-left" data-aos="500">
        <div class="card h-100">
            <img class="card-img-top" [src]="card.IMAGE_URL ? card.IMAGE_URL:defaults.placeholderImg" alt="">
            <div class="card-body">
                <h5 class="card-title">
                    <b class="font-weight-lighter text-primary">{{card.NAME}}</b>
                </h5>
                <p class="lead text-light">{{card.MSRP}}</p>
                <p class="card-text text-light"><b class="text-primary text-muted">Memory:</b> {{card.MEMORY}}</p>
                <p class="card-text text-light"><b class="text-primary text-muted">Core/Mem MGz:</b>
                    {{card['CORE/MEM']}}</p>
                <p class="card-text text-light"><b class="text-primary text-muted">Bus:</b> {{card.BUS}}</p>
                <p class="card-text text-light"><b class="text-primary text-muted">DirectX:</b> {{card.DirectX}}</p>
                <p class="card-text text-light"><b class="text-primary text-muted">Connectors:</b> {{card.Connectors}}
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-lg btn-block" (click)="selectProduct(i)">Details</button>
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->