<!-- <nav #nav [hidden]="nav.clientWidth < 760" class="navbar navbar-expand navbar-dark bg-secondary box-shadow-far animated"
    data-aos="store-header" data-aos-offset="1400" data-aos-id="super-duper">
    <div class="container">
        <ul class="nav navbar-nav" style="width: calc(100% - 16px);">
            <ul class="d-inline-flex">
                <ul class="navbar-nav mr-auto">
                    <div ngbDropdown class="d-inline-block">
                        <button role="menuitem" id="filter-brand" class="btn btn-link hvr hvr-underline-from-left"
                            ngbDropdownToggle>Brand</button>
                        <div ngbDropdownMenu aria-labelledby="filter-brand">
                            <button role="menuitem" class="dropdown-item"> Zotac</button>
                            <button role="menuitem" class="dropdown-item"> Access Able Designs</button>
                        </div>
                    </div>
                    <div ngbDropdown class="d-inline-block">
                        <button role="menuitem" id="filter-category" class="btn btn-link hvr hvr-underline-from-left"
                            ngbDropdownToggle>Category</button>
                        <div ngbDropdownMenu aria-labelledby="filter-category">
                            <button *ngFor="let cat of ZOTAC_BRAND.categories" role="menuitem" class="dropdown-item">
                                {{cat}}</button>
                        </div>
                    </div>
                </ul>
                <form name="storeSearchBarTop" class="align-end">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary input-group-addon"><i class="fa fa-search"></i></button>

                    </div>
                </form>
            </ul>
        </ul>

    </div>
</nav> -->
<app-masthead [title]="title" *ngIf="isPage">
</app-masthead>
<!-- Page Content -->
<section class="main" style="">
    <div class="container">
        <h1 class="text-center text-primary font-weight-bold mt-4">Shop for the best technology on the market.</h1>
        <!-- <hr class="bg-primary"> -->
    </div>
    <div class="container">
        <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation" data-aos="fade-up"
            data-aos-delay="500" style="z-index: 2;">
            <div class="collapse navbar-collapse d-flex">
                <select class="selectpicker custom-select d-block w-100 show-tick">
                    <option value>Fliter Products...</option>
                    <optgroup label="Zotac">
                        <option>Graphics Cards</option>
                        <option>Mini Pc</option>
                        <option>Gaming</option>
                    </optgroup>
                    <optgroup label="Access Able Designs">
                        <option>Bathroom Benches</option>
                        <option>Dressing Benches</option>
                        <option>Toilet Benches</option>
                        <option>Wheelchairs</option>
                        <option>Pool/Spa Access</option>
                        <option>Grab Bars</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <app-shop-list *ngIf="list$ | async" [limit]="productDisplayCount - 1" [results]="list$ | async"
            (productSelected)="openModal(details, $event)">
        </app-shop-list>
        <!-- <hr class="bg-primary"> -->
        <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="17"
            [(page)]="filterState.activePage" [pageSize]="6">
        </ngb-pagination> -->

    </div>


</section>
<ng-template #details let-modal class="animated slow">
    <div class="modal-header">

        <h4 class="modal-title">{{selectedProduct?.SKU}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-shop-item *ngIf="selectedProduct" [selectedProduct]="selectedProduct"></app-shop-item>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>