<app-masthead #masthead [title]="title" *ngIf="isPage"></app-masthead>
<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<section class="features-icons text-center text-light" id="about"
    [style.background]="'linear-gradient(#434343,#000000)'">
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4 animate" data-aos="flip-right">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-handshake-o m-auto text-primary"></i>
                    </div>
                    <h3>Partners</h3>
                    <p class="lead mb-0">Partnering with businesses that are like minded gives us the ability to provide
                        unmatchable services, and an amazing perspective. We have partners around the globe, in dozens
                        of industries.</p>
                </div>
            </div>
            <div class="col-lg-4 animate" data-aos="flip-right" data-aos-delay="150">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-users m-auto text-primary"></i>
                    </div>
                    <h3>Community</h3>
                    <p class="lead mb-0">Our communities have been crutial in the development of our company. Giving
                        back is a priority and a privalege.</p>
                </div>
            </div>
            <div class="col-lg-4 animate" data-aos="flip-right" data-aos-delay="300">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-building m-auto text-primary"></i>
                    </div>
                    <h3>Small Business</h3>
                    <p class="lead mb-0">We want small businesses to grow, and we can help. Digital marketing, data
                        analytics and other modern tools give you a tailored campaign, ready to scale.</p>
                </div>
            </div>
        </div><!-- /.row -->
    </div>
</section>
<section id="about" class="showcase">
    <div class="container-fluid p-0 text-center">
        <div class="p-4 mb-0 text-center" [style.background]="'#000000'">
            <div class="container">
                <div class="row">
                    <div class="border-white card bg-transparent text-light mx-auto animated slowest"
                        data-aos="fade-up">
                        <div class="card-body">
                            <div>
                                <h4 class="my-1"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                        class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h4>
                            </div>
                            <hr class="bg-light">
                            <div>
                                <h5 class="my-4">Founded by an American
                                    disabled veteran, we set out to offer our services
                                    with
                                    understanding and
                                    care. Not all
                                    businesses are alike, and we take the time to learn what our customers need, and
                                    implement
                                    those
                                    services
                                    with precision and empathy.</h5>
                            </div>
                            <img class="img-fluid" width="200" [src]="getImage('sdv3.png')" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img animate" data-aos="fade-right"
                [style.background-image]="'url(' +  getImage('bg-showcase-1.jpg') + ')'">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Digital Marketing</h2>
                <p class="lead mb-0">From S.E.O. to branding, GTS offers expert marketing and consulting, giving
                    businesses
                    the winning edge needed to reach your customers.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img animate" data-aos="fade-right"
                [style.background-image]="'url(' +  getImage('bg-showcase-2.jpg') + ')'">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Research &amp; Development</h2>
                <p class="lead mb-0">Technology can change lives, and better our planet. GTS puts the advancment of
                    green
                    technology as our number one priority. Through fundraising, followed by research and
                    development, we can help provide solutions to some of the worlds toughest problems.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img animate" data-aos="fade-right"
                [style.background-image]="'url(' +  getImage('bg-showcase-3.jpg') + ')'">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Empathy &amp; Accessability</h2>
                <p class="lead mb-0">Technology should be available for everyone, allowing the convenience and benefits
                    to
                    better all who integrate it into their lives.</p>
            </div>
        </div>
    </div>
</section>