.call-to-action {
  position: relative;
  background-color: $gray-800;
  background: url('https://firebasestorage.googleapis.com/v0/b/gts-site-80a8a.appspot.com/o/img%2Fbg-masthead.jpg?alt=media&token=137c99b9-6dd2-443e-933c-ae29c15198be') no-repeat center center;
  @include background-cover;
  background-attachment: fixed;
  padding-top: 7rem;
  padding-bottom: 7rem;

  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
}