body {
  @include body-font;
  font-weight: 100;
  background-color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.btn.btn-primary {
  color: #212529;
}

.card {
  background: rgba(67, 67, 67, 0.3) !important;
  border-bottom: .5px dashed $orange;
  border-top: .5px dashed $orange;
  @include box-shadow-far(0, 14px, 16px, rgba(0, 0, 0, .3))
}

.border-bottom-dashed {
  border-bottom: .5px dashed $orange;
}

.border-top-dashed {
  border-top: .5px dashed $orange;
}

.list-group-dashed {
  border-top: .5px dashed $orange !important;
}

[data-aos]:not(.navbar),
.showcase-img {
  opacity: 0;

  &.aos-animate {
    opacity: 1;
  }
}