[data-aos="header"] {
    padding: 2rem;
    position: absolute;
    top: 0;
    // left: 0;
    width: 100%;
    z-index: 9;

    img {
        width: 150px;
    }

    @include transition(all, .35s, ease-out);

    &.aos-animate {
        animation: FadeInDown;
        padding: 5px 0;
        position: fixed;
        box-shadow: -21.213px 21.213px 30px 0px rgba(0, 0, 0, 0.3);

        img {
            width: 100px;
        }
    }
}

.menu-bar {
    cursor: pointer !important;

    span {
        color: $black;
        font-size: 28px;
    }
}

.main-menubar {
    position: relative;
}

nav {
    // margin-right: 70px;

    @include media-breakpoint-down (sm) {
        @include transition(all, .25s, ease);
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 47px;
        text-align: right;
        padding: 20px;
        z-index: 5;
        background: $gray-700;

        a {
            color: $primary !important;

            &:hover {
                color: $primary;
            }
        }
    }

    transform-origin: 100% 50%;

    &.hide {
        transform: scale(0);
    }

    &.show {
        transform: scale(1);
    }

    .btn-link {
        // color: $black;
        // font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 25px;
        display: inline-block;

        @include media-breakpoint-down (sm) {
            margin: 5px 25px;
        }

        &:hover,
        &.active {
            text-decoration: none !important;
            color: $light;
        }
    }




}