.features-icons {
  background-color: $gray-700;
  padding-top: 4rem;
  padding-bottom: 7rem;

  .bounce {
    -webkit-animation-duration: 1200ms !important;
    animation-duration: 1200ms !important;
    -webkit-animation-iteration-count: infinite !important;
    animation-iteration-count: infinite !important;
  }

  .features-icons-item {
    max-width: 20rem;

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .features-icons-icon {
      cursor: pointer;
      height: 7rem;

      i {
        font-size: 4.5rem;
      }
    }

    &:hover {
      .features-icons-icon {
        i {
          color: $white;
        }
      }
    }
  }
}