.features-icons {
  background-color: $gray-700;
  padding-top: 2rem;
  padding-bottom: 7rem;

  .features-icons-item {
    max-width: 20rem;

    h3 {
      margin-top: 4rem;
      margin-bottom: 1rem;
    }

    .features-icons-icon {
      height: 7rem;

      i {
        transition: all .35s ease-out;
        font-size: 4.5rem;
        padding: 2rem;
        background: $gray-500;
        border-radius: 50%;
        height: 140px;
        width: 140px;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, .3);
      }
    }

    &:hover {
      .features-icons-icon {
        i {
          color: $primary;
        }
      }
    }
  }
}