// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Font Mixins
@mixin body-font {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

// Box Shadow Mixins
@mixin box-shadow-far($x, $y, $z, $color) {
  box-shadow: $x $y $z rgba(0, 0, 0, .3);
}

.box-shadow-far {
  @include box-shadow-far(0, 10px, 16px, rgba(0, 0, 0, .33));
}