.showcase {

  [data-aos] {
    &.showcase-img {
      opacity: 0;
    }

    &.aos-animate {
      opacity: 1;
    }
  }

  .showcase-text {
    padding: 3rem;
    color: $white;

    h2 {
      color: $primary;
      font-weight: 500;
    }
  }

  .showcase-img {
    transition: all .35s ease-in-out;
    min-height: 30rem;
    background-size: cover;
  }

  .fa-star {
    color: $primary;
    transition: all .35s;

    &:hover {
      color: $white;
    }
  }

  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}