<!-- Call to Action -->
<section #cta class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Want to know more? Sign up for updates!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="input-group">
                            <label for="email" aria-label="email" hidden></label>
                            <input #signup type="email" class="form-control form-control-lg"
                                placeholder="Enter your email...">
                            <button type="button" (click)="signUpWithEmail(signup.value, {})"
                                class="input-group-addon btn btn-block btn-lg btn-primary w-25"><i
                                    class="fa fa-paper-plane"></i></button>
                        </div>

                        <div *ngIf="signUpSuccess" class="text-success text-bolder p-3">
                            <i class="fa fa-check"></i>Success! Check your email.
                            inbox!
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>