<!-- Call to Action -->
<section #cta class="call-to-action text-white text-center border-top-dashed">
    <div class="overlay">
        <div class="stars" [hidden]="cta.clientWidth < 760"></div>
        <div class="twinkling" [hidden]="cta.clientWidth < 760"></div>
        <div class="clouds" [hidden]="cta.clientWidth < 760"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Want to know more? Sign up for updates!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <label for="email" aria-label="email" hidden></label>
                            <input #signup type="email" class="form-control form-control-lg"
                                placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="button" (click)="signUpWithEmail(signup.value, {})"
                                class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                        <div *ngIf="signUpSuccess" class="text-success text-bolder p-3">
                            <i class="fa fa-check"></i>Success! Check your email.
                            inbox!
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>