<!-- Navigation -->
<nav #navbar class="default-header navbar navbar-fixed-top">
  <div class="container">
    <div class="header-wrap" style="width: 100%;">
      <div class="header-top d-flex justify-content-between align-items-center">
        <div class="logo">
          <img src="../assets/img/gts_logo_alt_short.png" width="100" class="" alt="global technology services logo">
        </div>
        <div class="main-menubar d-flex align-items-center justify-content-end">
          <nav [ngClass]="showMenuBar ? 'show':'hide'">
            <button class="btn btn-link" (click)="navigateTo('home')">Home</button>
            <button class="btn btn-link" (click)="navigateTo('featured')">Featured</button>
            <button class="btn btn-link" (click)="animateScroll('about')">About</button>
            <button class="btn btn-link" (click)="animateScroll('contact')">Contact</button>
          </nav>
          <div class="menu-bar mr-3" (click)="toggleMenuBar()"><i class="fa fa-bars"></i></div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- End Navigation Area -->


<router-outlet></router-outlet>