<!-- Masthead -->
<header #header class="masthead text-white text-center pt-4" [style.margin-top]="'124px'">
    <div class="overlay">
        <!-- <div class="stars" [hidden]="header.clientWidth < 760"></div>
        <div class="twinkling" [hidden]="header.clientWidth < 760"></div>
        <div class="clouds" [hidden]="header.clientWidth < 760"></div> -->
        <ngb-carousel #carousel *ngIf="images" class="mb-4">
            <ng-template *ngFor="let img of images ? images : defaultImages" ngbSlide class="animated slideInDown"
                let-images>
                <div class="carousel-img-wrapper">
                    <img [src]="img" alt="Random first slide">
                </div>
            </ng-template>
            <!-- <ng-template ngbSlide>
                <div class="carousel-img-wrapper">
                    <img [src]="images[1]" alt="GTS second slide">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-img-wrapper">
                    <img [src]="images[2]" alt="Random third slide">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="carousel-img-wrapper">
                    <img [src]="images[3]" alt="Random fourth slide">
                </div>
            </ng-template> -->
        </ngb-carousel>


    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto" data-aos="fade-right" data-aos-delay="250">
                <h1 class="text-primary display-3">{{title.main}}</h1>
            </div>
            <div class="col-xl-9 mx-auto" *ngIf="title?.overlay">
                <img class="img-fluid" [width]="title?.overlay?.width" [src]="getImage(title.overlay.src)"
                    [alt]="title?.overlay?.alt">
            </div>
            <div class="col-xl-9 mx-auto">
                <div class="mb-5" [innerHTML]="title?.sub | safeHtml"></div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" *ngIf="title?.cta">
                <div class="row">
                    <div class="col-12" *ngIf="title?.action === 'redirect' && title?.redirectURL">
                        <a type="button" [href]="title.redirectURL" target="_blank"
                            class="btn btn-block btn-lg btn-primary">Let's go!</a>
                    </div>

                </div>
                <form *ngIf="title.action === 'signup'">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <label title="Enter email" for="email" aria-label="email" hidden></label>
                            <input type="email" #email class="form-control form-control-lg"
                                placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="button" (click)="mastheadAction(email.value); email.value = ''"
                                class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                        <div *ngIf="emailSuccess" class="text-success text-bolder p-3">
                            <i class="fa fa-check"></i>Success! Check your email
                            inbox!
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>