<app-masthead [images]="images" [title]="title" *ngIf="isPage"></app-masthead>
<!-- Featured -->
<section id="featured text-light" data-aos="fade">
    <div class="container">
        <h2 class="text-center text-light my-4" data-aos="fade-up">
            Get an amazing service <em><b class="text-primary text-uppercase">plus</b></em>
        </h2>
        <hr class="style-seven">
        <div class="card text-light mb-4 text-center">
            <div class="card-body">
                <h3 class="text-center">Win a <b>Samsung 50" 4k TV</b> or <b>Galaxy Tab A</b></h3>
                <!-- <hr> -->
                <div class="row">
                    <div class="container">
                        <img [src]="getImage('samsung_tv.png')" style="max-width: 50%;" class="img-fluid border-0"
                            alt="Samsung Product Image">
                        <img [src]="getImage('samsung_tab.png')" style="max-width: 50%;" class="img-fluid border-0"
                            alt="Samsung Product Image">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn mx-auto btn-primary my-4" (click)="openModal(signUpContent)">Learn
                    more</button>
            </div>
        </div>
        <br>
        <h2 class="mt-4 text-light text-center">

            Check out these fantastic packages!
            <hr class="style-seven">
        </h2>
        <div class="container">
            <!-- <hr class="bg-light"> -->

            <div class="container-fluid">
                <div class="row justify-content-center text-center">

                    <div class="card text-light mx-auto col-12 mx-2 my-2 justify-content-center col-lg-3">
                        <div class="card-header text-center pt-5">
                            <h3 class="card-title mbr-fonts-style display-5">
                                3 Day Trial</h3>
                            <div class="card-price" data-aos="flip-left" data-aos-delay="0">
                                <span class="price-value mbr-fonts-style display-5">
                                    $
                                </span>
                                <span class="price-figure mbr-fonts-style display-1">
                                    3</span>
                                <small class="price-term mbr-fonts-style display-7">3 Day</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-list align-center">
                                <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                    <li class="list-group-item">
                                        $3
                                        to try our Web Player and APP for Android for 3 days of all access use of
                                        our
                                        list.</li>
                                </ul>
                            </div>
                            <div class="mbr-section-btn text-center py-4 pb-5"><button
                                    (click)="openModal(signUpContent)" class="btn btn-primary">TRY
                                    NOW</button>
                            </div>
                        </div>
                    </div>

                    <div class="card text-light mx-auto col-12 mx-2 my-2 justify-content-center col-lg-3">
                        <div class="card-header text-center pt-5">
                            <h3 class="card-title mbr-fonts-style display-5">
                                Monthly</h3>
                            <div class="card-price" data-aos="flip-left" data-aos-delay="250">
                                <span class="price-value mbr-fonts-style display-5">
                                    $
                                </span>
                                <span class="price-figure mbr-fonts-style display-1">
                                    25</span>
                                <small class="price-term mbr-fonts-style display-7">
                                    per month</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-list align-center">
                                <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                    <li class="list-group-item"><span style="font-size: 1rem;">Access to our list to
                                            use
                                            on ANY device,
                                            our
                                            Web
                                            Player (iOS, Windows, Mac, laptop, desktop) and APP for Android with
                                            hundreds of live
                                            channels.</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="mbr-section-btn text-center py-4 pb-5"><button
                                    (click)="openModal(signUpContent)" class="btn btn-primary">BUY
                                    NOW</button>
                            </div>
                        </div>
                    </div>

                    <div class="card text-light mx-auto col-12 mx-2 my-2 justify-content-center col-lg-3">
                        <div class="card-header text-center pt-5">
                            <h3 class="card-title mbr-fonts-style display-5">
                                3 Months</h3>
                            <div class="card-price" data-aos="flip-left" data-aos-delay="500">
                                <span class="price-value mbr-fonts-style display-5">
                                    $
                                </span>
                                <span class="price-figure mbr-fonts-style display-1">
                                    70</span>
                                <small class="price-term mbr-fonts-style display-7">
                                    per 3 mo.</small>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-list align-center">
                                <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                    <li class="list-group-item">
                                        <blockquote class="blockquote"><b class="text-success">Save $20/yr</b>
                                        </blockquote>
                                        Access to our list to
                                        use on ANY device,
                                        our Web Player (iOS,
                                        Windows, Mac, laptop, desktop) and APP for Android with hundreds of live
                                        channels.
                                    </li>
                                </ul>
                            </div>
                            <div class="mbr-section-btn text-center py-4 pb-5"><button
                                    (click)="openModal(signUpContent)" class="btn btn-primary">BUY
                                    NOW</button>
                            </div>
                        </div>
                    </div>

                    <!--   <div class="card col-12 mx-2 my-2 justify-content-center col-lg-3">
                      <div class="card-header text-center pt-5">
                          <h3 class="card-title mbr-fonts-style display-5">
                              6 Months</h3>
                          <div class="card-price">
                              <span class="price-value mbr-fonts-style display-5">
                                  $
                              </span>
                              <span class="price-figure mbr-fonts-style display-1">
                                  130</span>
                              <small class="price-term mbr-fonts-style display-7">
                                  per 6 mo.</small>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-list align-center">
                              <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                  <li class="list-group-item">Save $40/yr: Access to our list to use on ANY device, our Web Player (iOS, Windows, Mac, laptop, desktop) and APP for Android with hundreds of live channels, and thousands of VODs.</li>
                              </ul>
                          </div>
                          <div class="mbr-section-btn text-center py-4 pb-5"><a href="javascript:;" onclick="cart.addCheckoutExternal(this,4); return false;" class="btn btn-warning display-4">BUY NOW</a></div>
                      </div>
                  </div>-->

                    <!-- <div class="card col-12 mx-2 my-2 justify-content-center col-lg-3">
                      <div class="card-header text-center pt-5">
                          <h3 class="card-title mbr-fonts-style display-5">
                              1 Year</h3>
                          <div class="card-price">
                              <span class="price-value mbr-fonts-style display-5">
                                  $
                              </span>
                              <span class="price-figure mbr-fonts-style display-1">
                                  250</span>
                              <small class="price-term mbr-fonts-style display-7">
                                  per year</small>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-list align-center">
                              <ul class="list-group list-group-flush mbr-fonts-style display-7">
                                  <li class="list-group-item">Save $50/yr: Access to our list to use on ANY device, our Web Player (iOS, Windows, Mac, laptop, desktop) and APP for Android with hundreds of live channels, and thousands of VODs.</li>
                              </ul>
                          </div>
                          <div class="mbr-section-btn text-center py-4 pb-5"><a href="javascript:;" onclick="cart.addCheckoutExternal(this,5); return false;" class="btn btn-warning display-4">BUY NOW</a></div>
                      </div>
                  </div>-->
                </div>
            </div>
            <br>
            <br>
            <h2 class="my-4 text-light text-center"><b>Service
                    includes:</b>
            </h2>
            <hr class="style-seven">
            <ul class="list-group text-light text-center">
                <li class="list-group-item"><i class="fa fa-check-circle text-primary"></i> &nbsp;5 Devices anywhere
                </li>
                <li class="list-group-item"><i class="fa fa-check-circle text-primary"></i> &nbsp;500+ Channels on your
                    phone</li>
                <li class="list-group-item"><i class="fa fa-check-circle text-primary"></i> &nbsp;Watch TV/Sports on our
                    Web Player
                </li>
                <li class="list-group-item"><i class="fa fa-check-circle text-primary"></i> &nbsp;Stream your favorite
                    channels, including local
                </li>
                <li class="list-group-item"><i class="fa fa-check-circle text-primary"></i> &nbsp;Works on your android
                    tablet, phone
                    and
                    android
                    tv box using our APP</li>
            </ul>
            <div class="card text-light mt-2">
                <div class="card-body">
                    <p class="blockquote">
                        Apple users, please use Safari or Chrome for best experience.
                    </p>
                    <hr>
                    <p>Share with your
                        family, it will work anywhere!
                        Check out ALL the great features we have to offer.
                    </p>
                    <footer class="card-blockquote"><button (click)="openModal(signUpContent)"
                            class="btn btn-primary mt-4">Learn
                            more</button></footer>

                </div>
            </div>
            <hr>

        </div>
    </div>
</section>

<ng-template #signUpContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Enter Prize Drawing</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cancel click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-6 p-2">
                    <p>Signup for a 3 month package and get a chance to win a Samsung 50" 4k TV!</p>
                </div>
                <div class="p-2 col-6">
                    <img [src]="getImage('samsung_tv.png')" width="200" alt="" class="img-fluid">
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-6 p-2">
                    <p>Signup for a 1 month package and get a chance to win a Samsung Galaxy Tab A!</p>
                </div>
                <div class="p-2 col-6"><img [src]="getImage('samsung_tab.png')" width="200" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <hr>
        <!-- <div class="container">
            <h5 class="text-center">
                Sign-up using Facebook <small><b class="text-danger">(Recommended)</b></small>
            </h5>
            <button role="button" class="btn btn-block" style="background: #4267b2;"><i
                    class="fab fa-facebook-f fa-2x text-light" (click)="fbLoginAndRedirect()"></i></button>
        </div>
        <hr> -->
        <!-- <h5 class="text-center">-OR-</h5>
        <hr> -->
        <p>Please provide your Name, Email, and Phone Number.<br>
            Fields with( <b class="text-danger">*</b> ) are required
        </p>
        <form class="py-4">
            <div class="form-group">
                <label for="name">Name <b class="text-danger">*</b></label>
                <input #name [(ngModel)]="signUp.name" type="text" [maxLength]="30" class="form-control" name="name"
                    id="name" aria-describedby="emailHelpId" placeholder="Name">
                <small id="emailHelpId" class="form-text text-muted">{{name.value.length}}/25</small>
            </div>
            <div class="form-group">
                <label for="name">Email <b class="text-danger">*</b></label>
                <input #email [(ngModel)]="signUp.email" type="email" [maxLength]="30" class="form-control" name="email"
                    id="email" aria-describedby="emailHelpId" placeholder="Email">
                <small id="emailHelpId" class="form-text text-muted">{{email.value.length}}/30</small>
            </div>
            <div class="form-group">
                <label for="phone">Phone <b class="text-danger">*</b></label>
                <input #phone [(ngModel)]="signUp.phone" type="phone" [maxLength]="10" class="form-control" name="phone"
                    pattern="(\+0?1\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}" id="phone" aria-describedby="phoneHelpId"
                    placeholder="Phone">
                <small id="phoneHelpId" class="form-text text-muted"><em>###-###-####</em></small>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input #optOut [(ngModel)]="signUp.optedOut" type="checkbox" class="form-check-input" name="optOut"
                        id="optOut" value="true">
                    No thanks, just take me to their website
                </label>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button role="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
        <button role="button" class="btn btn-success" (click)="signupAndRedirect(signUp, title.redirectURL)"
            [disabled]="(!signUp.name || !signUp.email || !signUp.phone) && !signUp.optedOut">Submit</button>

        <div class="mx-3">
            <hr>
            <small class="text-muted">
                After submitting, you will be redirected to our featured partner. You will be entered in prize
                drawing
                once you have signed up for their services as listed on each prize displayed.
            </small>
        </div>
    </div>
</ng-template>