<!-- Masthead -->
<app-masthead #masthead [title]="title"></app-masthead>
<!-- Icons Grid -->
<section class="features-icons border-top text-center text-light"
    [style.background]="'linear-gradient(#434343,#000000)'">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 animate" data-aos="fade-in">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-medkit m-auto text-primary"></i>
                    </div>
                    <h3>Medical</h3>
                    <p class="lead mb-0">Partners with dozens of businesses focused on research and development of
                        breakthrough
                        medical
                        technology!</p>
                </div>
            </div>
            <div class="col-lg-4 animate" data-aos="fade-in" data-aos-delay="150">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-chain m-auto text-primary"></i>
                    </div>
                    <h3>Connection</h3>
                    <p class="lead mb-0">Developing new platforms offering multiple services with bundled packages.
                        Including Internet, video streaming, mobile and more!</p>
                </div>
            </div>
            <div class="col-lg-4 animate" data-aos="fade-in" data-aos-delay="300">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-area-chart m-auto text-primary"></i>
                    </div>
                    <h3>eMarketing</h3>
                    <p class="lead mb-0">Provides customized digital marketing services that include website and app
                        development, SEO, branding, data analytics, and much more.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Featured -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-dark text-center my-4">
                <i class="fa fa-handshake-o"></i> Featured Partner
                <br>
                <img width="250" class="img-thumbnail bg-dark my-4"
                    src="https://xstreamingtv.com/assets/images/xstreamingtv-logo-5000x1659.png"
                    alt="xstreamingtv logo">
            </h1>
        </div>
    </div>
</div>


<app-featured [isPage]="false"></app-featured>


<!-- Image Showcases -->
<section id="about" class="showcase">
    <div class="container-fluid p-0 text-center">
        <div class="p-4 mb-0 text-center" [style.min-height]="'500px'" [style.background-color]="'#000000'">
            <div class="container">
                <div class="row">

                    <div class="card mb-2 animate" data-aos="fade">
                        <div class="card-body">
                            <h4><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i></h4>
                            <hr>
                            <h4 class="my-4">We provide a full service integration of technology in many industries, and
                                in
                                several
                                ways,
                                whatever
                                you need.</h4>
                        </div>
                    </div>
                    <div class="card animate" data-aos="fade" data-aos-delay="250">
                        <div class="card-body">
                            <h4><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i></h4>
                            <hr>
                            <h4 class="my-4">Founded by an American disabled veteran, we set out to offer our services
                                with
                                understanding and
                                care. Not all
                                businesses are alike, and we take the time to learn what it is our customers need, and
                                implement
                                our
                                services
                                with empathy and efficiency.</h4>
                            <img class="img-fluid" width="200" src="../assets/img/sdv3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img animate" data-aos="flip-left"
                style="background-image: url('../assets/img/bg-showcase-1.jpg');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Digital Marketing</h2>
                <p class="lead mb-0">From S.E.O. to branding, GTS offers expert marketing and consulting, giving
                    businesses
                    the winning edge needed to reach your customers.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img animate" data-aos="flip-right"
                style="background-image: url('../assets/img/bg-showcase-2.jpg');">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Research &amp; Development</h2>
                <p class="lead mb-0">Technology can change lives, and better our planet. GTS puts the advancment of
                    green
                    technology as our number one priority. Through fundraising, followed by research and
                    development, we can help provide solutions to some of the worlds toughest problems.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img animate" data-aos="flip-left"
                style="background-image: url('../assets/img/bg-showcase-3.jpg');">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Empathy &amp; Accessability</h2>
                <p class="lead mb-0">Technology should be available for everyone, allowing the convenience and benefits
                    to
                    better all who integrate it into their lives.</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="../assets/img/avatar.png" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">"XStreamingTv is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="../assets/img/avatar.png" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"GTS is amazing. Their insight and technology has helped my
                        business grow so
                        fast!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="../assets/img/avatar.png" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making the world a better place!"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>