<!-- Masthead -->
<app-masthead #masthead [title]="title"></app-masthead>
<!-- Icons Grid -->
<section class="features-icons text-center text-light" data-aos="fade" [style.background]="'#151719'">
    <div class="container">
        <h1 class="text-center mb-4 text-primary">
            A Central Hub For All Your Tech Needs
            <hr class="style-seven">
        </h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" data-aos="flip-right">
                    <div class="features-icons-icon d-flex" (click)="navigateTo('services')">
                        <i class="fa fa-wheelchair m-auto text-primary"></i>
                    </div>
                    <h3>Accessibility</h3>
                    <p class="lead mb-0">Research and development of Accessible
                        and Medical technology
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" data-aos="flip-right"
                    data-aos-delay="250">
                    <div class="features-icons-icon d-flex" (click)="navigateTo('services')">
                        <i class="fa fa-chain m-auto text-primary"></i>
                    </div>
                    <h3>Connection</h3>
                    <p class="lead mb-0">Bundled packages including Mobile, Video Streaming, Telemedicine and more
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3" data-aos="flip-right" data-aos-delay="350">
                    <div class="features-icons-icon d-flex" (click)="navigateTo('services')">
                        <i class="fa fa-area-chart m-auto text-primary"></i>
                    </div>
                    <h3>Marketing</h3>
                    <p class="lead mb-0">Customized Digital Marketing, Website/App
                        Development and much more.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Featured -->
<div class="container">
    <h2 class="text-light text-center my-4">
        <i class="fa fa-handshake-o text-primary"></i> Featured Partner
        <hr class="style-seven">

        <a href="https://xstreamingtv.com/dump/aff/go/kevin">
            <img width="250" class="img-thumbnail bg-dark my-4 box-shadow-far"
                src="https://xstreamingtv.com/assets/images/xstreamingtv-logo-5000x1659.png" alt="xstreamingtv logo">
        </a>
    </h2>
    <div class="col-md-8 mb-4 mx-auto">
        <h5 class="text-center mb-4 pb-4 text-light">Global Technology Services LLC works with dozens of companies
            to bring our customers and clients the
            best technology and
            services
            available.
            Global
            Technology Services chooses one of those companies to be our Featured Partner every
            month.<br /><br />Featured
            Partners
            are highlighted on our featured page, and customers who signup with the featured partner will
            qualify to
            particiapate in the Global Technology Services LLC Featured Partner Prize Drawing. Prizes depend on the
            services or products
            offered by
            the featured partner, and are available while inventory last.</h5>
    </div>
</div>


<app-featured [isPage]="false"></app-featured>


<!-- Image Showcases -->
<app-about [isPage]="false"></app-about>

<!-- Testimonials -->
<section class="testimonials text-center text-light bg-dark">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="flip-left" data-aos-delay="0">
                    <img class="img-fluid rounded-circle mb-3" [src]="getImage('avatar.png')" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0 text-primary">"My website is fantastic! Thank you so much!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="flip-left" data-aos-delay="250">
                    <img class="img-fluid rounded-circle mb-3" [src]="getImage('avatar.png')" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0 text-primary">"GTS is amazing. Their insight and technology has
                        helped my
                        business grow so
                        fast!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="flip-left" data-aos-delay="350">
                    <img class="img-fluid rounded-circle mb-3" [src]="getImage('avatar.png')" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0 text-primary">"Your friendly employees made the process interesting
                        and
                        informative with positive results."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>