<!-- Masthead -->
<app-masthead #masthead [slider]="true" [title]="title"></app-masthead>
<!-- Icons Grid -->
<section class="features-icons text-center text-dark bg-light">
    <div class="text-center w-100 pb-5"><i class="fa fa-chevron-down fa-2x animated bounce infinite slower"></i></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 " data-aos="zoom-up">
                    <div class="features-icons-icon d-flex" (click)="navigateTo('services')" data-aos="flip-left"
                        data-aos-delay="50">
                        <i class="fa fa-wheelchair m-auto text-primary"></i>
                    </div>
                    <h3>Accessibility</h3>
                    <p class="lead mb-0">Research and Development focusing on Accessibility
                        and Medical technology
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 " data-aos="zoom-up">
                    <div class="features-icons-icon d-flex" (click)="navigateTo('services')" data-aos="flip-left"
                        data-aos-delay="150">
                        <i class="fa fa-puzzle-piece m-auto text-primary"></i>
                    </div>
                    <h3>Solutions</h3>
                    <p class="lead mb-0">Get an exclusive team for customized solutions for your business and your
                        needs.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3 " data-aos="zoom-up" data-aos="flip-left"
                    data-aos-delay="250">
                    <div class="features-icons-icon d-flex" (click)="navigateTo('services')">
                        <i class="fa fa-area-chart m-auto text-primary"></i>
                    </div>
                    <h3>Marketing</h3>
                    <p class="lead mb-0">Customized Digital Marketing, Website/App
                        Development, Branding, SEO and more.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="pt-4">
    <app-store [isPage]="false"></app-store>
</section> -->

<app-featured [isPage]="false"></app-featured>


<!-- Image Showcases -->
<app-about [isPage]="false"></app-about>

<!-- Testimonials -->
<section class="testimonials text-center text-dark">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="flip-left" data-aos-delay="0">
                    <img class="img-fluid rounded-circle mb-3" [src]="getImage('avatar.png')" alt="">
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0 text-primary">"My website is fantastic! Thank you so much!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="flip-left" data-aos-delay="250">
                    <img class="img-fluid rounded-circle mb-3" [src]="getImage('avatar.png')" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0 text-primary">"GTS is amazing. Their insight and technology has
                        helped my
                        business grow so
                        fast!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0" data-aos="flip-left" data-aos-delay="350">
                    <img class="img-fluid rounded-circle mb-3" [src]="getImage('avatar.png')" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0 text-primary">"Your friendly employees made the process interesting
                        and
                        informative with positive results."</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-call-to-action></app-call-to-action>